@import url('https://fonts.googleapis.com/css2?family=Belanosima:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar {
    width: 15px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: #181818;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: #232323;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #282828;
}